
.pic{
    display: flex;
    flex-direction: column;
}
.pic img{
    padding: 5%;
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 23px;
    margin-left:70px;
    width: 70%;
    height: 70%;
}
.biodata{
    padding-top: 60px;
    padding-left: 30px;
    color: aliceblue;
}
.qoutes{
    padding-top: 40px;
}
.qoutes h3{
    padding-top: 20px;
    color: #A0C49D;
}
.qoutes p{
    padding: 10px;
}